<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

	<h1>Data from Flask API</h1>

	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>Key</th>
				<th style="width:50%">Value</th>
			</tr>
		</thead>
		<tbody id="jsonDataContainer">


		</tbody>
	</table>



	<h1>Data from Flask API</h1>


	<table class="table">

		<thead class="table-dark">
			<tr class="text-center">
				<th>Key</th>
				<th style="width:50%">Value</th>
			</tr>
		</thead>

		<tbody>
			<tr class="text-center" th:each="Key, Value : ${jsonData}">
				<td class="text-start">
					<a th:href="#" th:text="${Key}"></a>
					</span>
				</td>
			</tr>
		</tbody>

	</table>
	
	
	
	  <div id="chart_div" style="width: 900px; height: 500px;"></div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
		
		
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        var flaskApiUrl = /*[[${@environment.getProperty('flask.api.url')}]]*/"";

		console.log(flaskApiUrl+"data");



        function drawChart() {
            // AJAX request to fetch data
            var xhr = new XMLHttpRequest();
            xhr.open('GET', flaskApiUrl+'data', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var jsonData = JSON.parse(xhr.responseText);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', jsonData.columns[0]);
                    data.addColumn('number', jsonData.columns[1]);
                    for (var i = 0; i < jsonData.rows.length; i++) {
                        var row = [];
                        row.push(jsonData.rows[i][jsonData.columns[0]]);
                        row.push(jsonData.rows[i][jsonData.columns[1]]);
                        data.addRow(row);
                    }
                    var options = {
                        title: 'Sales Trend',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            };
            xhr.send();
        }
    </script>
<!--
	<script th:inline="javascript">
		var flaskApiUrl = /*[[${@environment.getProperty('flask.api.url')}]]*/"";

		console.log(flaskApiUrl+"data");

		var xhr = new XMLHttpRequest();
		xhr.open('GET', flaskApiUrl+"data", true);
		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					try {
						var jsonData = JSON.parse(xhr.responseText);
						console.log(jsonData);

						// Thymeleaf로 표시할 요소 선택
						var jsonDataContainer = document.getElementById('jsonDataContainer');

						// Thymeleaf로 표시할 내용 설정 (테이블 형식)
						var template = '';
						for (var key in jsonData) {
							template += '<tr class="text-center" ><td>' + key + '</td><td>' + jsonData[key] + '</td></tr>';
						}

						// Thymeleaf로 표시할 내용을 HTML로 설정
						jsonDataContainer.innerHTML = template;

					} catch (e) {
						console.error('Error parsing JSON:', e);
					}
				} else {
					console.error('Request failed with status:', xhr.status);
				}
			}
		};
		xhr.send();
	</script>
	-->
	
</div>

</html>



