<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

	<div style='width:100%;'>

		<table>
			<tr>
				<td style="width:30%">
					관광 데이터 분석
				</td>
				<td>
					해당 자료로 이동합니다.
				</td>
			</tr>
			<tr>
				<td style="width:30%">
					관광 검색
				</td>
				<td style="width:30%">
					<a href="#table_body01">관광 데이터 분석내용 </a>
				</td>
			</tr>
			<tr>
				<td style="width:30%">
					관광 지출액
				</td>
				<td>
					<a href="#table_body02">관광 데이터 분석내용 </a>
				</td>
			</tr>
			<tr>
				<td style="width:30%">
					관광객 방문자수
				</td>
				<td>
					<a href="#table_body03">관광 데이터 분석내용 </a>
				</td>
			</tr>
		</table>
	</div>
	<div style="width: 100%; height: 150px;"></div>


	<div class="container-fluid" style="min-height: calc(10vh - 136px); margin-top:50px;">

		<div>
			<i class="fa fa-plus-square" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
				aria-controls="collapseExample"></i>
			<span style="margin-left:10px;">시도별 관광지 검색 건수 Click</span>
		</div>
		<div class="collapse" id="collapseExample">
			<div class="well">
				<div>
					<div>
						<h1 style='text-align: center;'>시도별 관광지 검색 건수</h1>

					</div>
					<div style='width:100%;'>
						<h8 style='float: right; '>(단위 : 회 )</h8>

					</div>

				</div>

				<table class="table">
					<thead class="table-dark">
						<tr class="text-center">
							<th>시도 명</th>
							<th style="width:30%">검색건수</th>
							<th style="width:30%">전년도 검색건수</th>
						</tr>
					</thead>
					<tbody id="table_body01">
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<div id="chart_div2" style="width: 900px; height: 500px;"></div>
	<div style="width: 100%; height: 50px;"></div>



	<div class="container-fluid" style="min-height: calc(10vh - 136px); margin-top:50px;">

		<div>
			<i class="fa fa-plus-square" data-toggle="collapse" href="#collapseExample1" aria-expanded="false"
				aria-controls="collapseExample"></i>
			<span style="margin-left:10px;"> 시도별 관광 지출액 Click</span>
		</div>
		<div class="collapse" id="collapseExample1">
			<div class="well">
				<div>
					<div>
						<h1 style='text-align: center;'>시도별 관광 지출액</h1>

					</div>
					<div style='width:100%;'>
						<h8 style='float: right; '>(단위 : 천원)</h8>

					</div>

				</div>

				<table class="table">

					<thead class="table-dark">
						<tr class="text-center">
							<th>시도 명</th>
							<th style="width:30%">관광지출액</th>
							<th style="width:30%">전년도 관광지출액</th>
						</tr>
					</thead>

					<tbody id="table_body02">
						<tr class="text-center" th:each="Key, Value : ${jsonData}">
							<td class="text-start">
								<a th:href="#" th:text="${Key}"></a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>



			</div>
		</div>
	</div>
	<div id="chart_div" style="width: 900px; height: 500px;"></div>
	<div style="width: 100%; height: 80px;"></div>

	<div class="container-fluid" style="min-height: calc(10vh - 136px); margin-top:50px;">
		<div>
			<i class="fa fa-plus-square" data-toggle="collapse" href="#collapseExample2" aria-expanded="false"
				aria-controls="collapseExample"></i>
			<span style="margin-left:10px;">시도별 관광객 방문자 수 Click</span>
		</div>
		<div class="collapse" id="collapseExample2">
			<div class="well">
				<div>
					<div>
						<h1 style='text-align: center;'>시도별 관광객 방문자 수</h1>

					</div>
					<div style='width:100%;'>
						<h8 style='float: right; '>(단위 : 명)</h8>
					</div>
				</div>
				<table class="table">
					<thead class="table-dark">
						<tr class="text-center">
							<th>시도 명</th>
							<th style="width:30%">관광지출액</th>
							<th style="width:30%">전년도 관광지출액</th>
						</tr>
					</thead>
					<tbody id="table_body03">
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="chart_div3" style="width: 900px; height: 500px;"></div>
	<div style="width: 100%; height: 150px;"></div>
	
	

	<div class="container-fluid" style="min-height: calc(10vh - 136px); margin-top:50px;">
		<div>
			<i class="fa fa-plus-square" data-toggle="collapse" href="#collapseExample41" aria-expanded="false"
				aria-controls="collapseExample"></i>
			<span style="margin-left:10px;">시도별 관광객 방문자 수 Click</span>
		</div>
		<div class="collapse" id="collapseExample41">
			<div class="well">
				<div>
					<div>
						<h1 style='text-align: center;'>시도별 관광객 방문자 수</h1>

					</div>
					<div style='width:100%;'>
						<h8 style='float: right; '>(단위 : 명)</h8>
					</div>
				</div>
				<table class="table">
					<thead class="table-dark">
						<tr class="text-center">
							<th>시도 명</th>
							<th style="width:30%">관광지출액</th>
							<th style="width:30%">전년도 관광지출액</th>
						</tr>
					</thead>
					<tbody id="table_body041">
					</tbody>
				</table>
			</div>
		</div>
	</div>






	<div id="chart_div41" style="width: 900px; height: 500px;"></div>
	<div style="width: 100%; height: 150px;"></div>














	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" th:inline="javascript">



		var flaskApiUrl = /*[[${@environment.getProperty('flask.api.url')}]]*/"";

		console.log(flaskApiUrl);

		var xhr = new XMLHttpRequest();
		xhr.open('GET', flaskApiUrl, true);


		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					try {
						var jsonData = JSON.parse(xhr.responseText);
						console.log(jsonData);

						// Thymeleaf로 표시할 요소 선택
						var jsonDataContainer = document.getElementById('jsonDataContainer');

						// Thymeleaf로 표시할 내용 설정 (테이블 형식)
						var template = '';
						//for (var key in jsonData) {
						//	template += '<tr class="text-center" ><td>' + key + '</td><td>' + jsonData[key] + '</td></tr>';
						//}
						var tableBody = document.getElementById("table_body02"); // 테이블의 tbody 요소를 가져옴


						for (var i = 0; i < jsonData.length; i++) {
							var item = jsonData[i];
							console.log("시도명: " + item.시도명);
							console.log("관광지출액: " + item.관광지출액);
							console.log("관광지출액_증감율: " + item.관광지출액_증감율);
							console.log("전년도 관광지출액: " + item["전년도 관광지출액"]); // 이 부분은 데이터에 따라 이름이 다를 수 있습니다.

							var number = item.관광지출액;
							var number2 = item["전년도 관광지출액"];
							var numberWithCommas = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 쉼표를 추가하여 문자열로 변환
							var numberWithCommas2 = number2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 쉼표를 추가하여 문자열로 변환

							var htmltd = "<tr><td style='text-align: center;'>" + item.시도명 + "</td> <td style='text-align: right;'>" + numberWithCommas + "</td> <td style='text-align: right;'>" + numberWithCommas2 + "</td> </tr>";
							tableBody.innerHTML += htmltd;
						}



						google.charts.load('current', {'packages': ['corechart']});
						google.charts.setOnLoadCallback(drawChart);


						function drawChart() {

							var data = new google.visualization.DataTable();
							data.addColumn('string', '시도명');
							data.addColumn('number', '관광지출액_증감율');

							for (var i = 0; i < jsonData.length; i++) {
								var item = jsonData[i];
								var row = [];
								row.push(item['시도명']);
								row.push(item['관광지출액_증감율']);
								data.addRow(row);
							}

							var options = {
								title: '시도별 전년도 대비 관광지 지출액 증감율 ',
								curveType: 'function',
								legend: {position: 'bottom'},
							};
							var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
							chart.draw(data, options);

							var view = new google.visualization.DataView(data);
							view.setColumns([0, 1, {
								calc: 'stringify',
								sourceColumn: 1,
								type: 'string',
								role: 'annotation'
							}]);
							chart.draw(view, options);


						}


						// Thymeleaf로 표시할 내용을 HTML로 설정
						//jsonDataContainer.innerHTML = template;

					} catch (e) {
						console.error('Error parsing JSON:', e);
					}
				} else {
					console.error('Request failed with status:', xhr.status);
				}
			}
		};
		xhr.send();



		var flaskApiUrl2 = /*[[${@environment.getProperty('flask.api.url')}]]*/"";

		console.log(flaskApiUrl2);

		var xhr2 = new XMLHttpRequest();
		xhr2.open('GET', flaskApiUrl2 + "/data", true);


		xhr2.onreadystatechange = function () {
			if (xhr2.readyState === 4) {
				if (xhr2.status === 200) {
					try {
						var jsonData = JSON.parse(xhr2.responseText);
						console.log(jsonData);

						// Thymeleaf로 표시할 요소 선택
						var tableBody2 = document.getElementById("table_body01"); // 테이블의 tbody 요소를 가져옴
						// Thymeleaf로 표시할 내용 설정 (테이블 형식)
						var template = '';
						for (var i = 0; i < jsonData.length; i++) {
							var item = jsonData[i];
							console.log("시도명: " + item.시도명);
							console.log("검색건수: " + item['검색건수']);
							console.log("전년도 검색건수 : " + item['전년도 검색건수']);
							console.log("검색_증감율: " + item["검색_증감율"]); // 이 부분은 데이터에 따라 이름이 다를 수 있습니다.

							var number = item['검색건수'];
							var number2 = item['전년도 검색건수'];
							var numberWithCommas = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 쉼표를 추가하여 문자열로 변환
							var numberWithCommas2 = number2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 쉼표를 추가하여 문자열로 변환
							var htmltd2 = "<tr><td style='text-align: center;'>" + item.시도명 + "</td> <td style='text-align: right;'>" + numberWithCommas + "</td> <td style='text-align: right;'>" + numberWithCommas2 + "</td> </tr>";
							tableBody2.innerHTML += htmltd2;

						}



						google.charts.load('current', {'packages': ['corechart']});
						google.charts.setOnLoadCallback(drawChart2);


						function drawChart2() {

							var data = new google.visualization.DataTable();
							data.addColumn('string', '시도명');
							data.addColumn('number', '검색_증감율');


							for (var i = 0; i < jsonData.length; i++) {
								var item = jsonData[i];
								var row = [];
								row.push(item['시도명']);
								row.push(item['검색_증감율']);
								data.addRow(row);


							}

							var options = {
								title: '시도별 전년도 대비 지역 검색 증감율 ',
								curveType: 'function',
								legend: {position: 'bottom'},
							};
							var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
							chart.draw(data, options);

							var view = new google.visualization.DataView(data);
							view.setColumns([0, 1, {
								calc: 'stringify',
								sourceColumn: 1,
								type: 'string',
								role: 'annotation'
							}]);
							chart.draw(view, options);

						}


						// Thymeleaf로 표시할 내용을 HTML로 설정
						//jsonDataContainer.innerHTML = template;

					} catch (e) {
						console.error('Error parsing JSON:', e);
					}
				} else {
					console.error('Request failed with status:', xhr.status);
				}
			}
		};
		xhr2.send();




		var flaskApiUrl3 = /*[[${@environment.getProperty('flask.api.url')}]]*/"";

		console.log(flaskApiUrl3);

		var xhr3 = new XMLHttpRequest();
		xhr3.open('GET', flaskApiUrl3 + "/data2", true);


		xhr3.onreadystatechange = function () {
			if (xhr3.readyState === 4) {
				if (xhr3.status === 200) {
					try {
						var jsonData = JSON.parse(xhr3.responseText);
						console.log(jsonData);

						// Thymeleaf로 표시할 요소 선택
						var tableBody3 = document.getElementById("table_body03"); // 테이블의 tbody 요소를 가져옴
						// Thymeleaf로 표시할 내용 설정 (테이블 형식)
						var template = '';
						for (var i = 0; i < jsonData.length; i++) {
							var item = jsonData[i];
							console.log("시도명: " + item.시도명);
							console.log("방문자수: " + item['방문자수']);
							console.log("전년도 방문자수 : " + item['전년도 방문자수']);
							console.log("방문자수_증감율: " + item["방문자수_증감율"]); // 이 부분은 데이터에 따라 이름이 다를 수 있습니다.

							var number = item['방문자수'];
							var number2 = item['전년도 방문자수'];
							var numberWithCommas = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 쉼표를 추가하여 문자열로 변환
							var numberWithCommas2 = number2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 쉼표를 추가하여 문자열로 변환
							var htmltd3 = "<tr><td style='text-align: center;'>" + item.시도명 + "</td> <td style='text-align: right;'>" + numberWithCommas + "</td> <td style='text-align: right;'>" + numberWithCommas2 + "</td> </tr>";
							tableBody3.innerHTML += htmltd3;

						}



						google.charts.load('current', {'packages': ['corechart']});
						google.charts.setOnLoadCallback(drawChart3);


						function drawChart3() {

							var data = new google.visualization.DataTable();
							data.addColumn('string', '시도명');
							data.addColumn('number', '방문자수_증감율');


							for (var i = 0; i < jsonData.length; i++) {
								var item = jsonData[i];
								var row = [];
								row.push(item['시도명']);
								row.push(item['방문자수_증감율']);
								data.addRow(row);


							}

							var options = {
								title: '시도별 전년도 대비 지역 방문자수 증감율 ',
								curveType: 'function',
								legend: {position: 'bottom'},
							};
							var chart = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
							chart.draw(data, options);

							var view = new google.visualization.DataView(data);
							view.setColumns([0, 1, {
								calc: 'stringify',
								sourceColumn: 1,
								type: 'string',
								role: 'annotation'
							}]);
							chart.draw(view, options);

						}


						// Thymeleaf로 표시할 내용을 HTML로 설정
						//jsonDataContainer.innerHTML = template;

					} catch (e) {
						console.error('Error parsing JSON:', e);
					}
				} else {
					console.error('Request failed with status:', xhr.status);
				}
			}
		};
		xhr3.send();



		var flaskApiUrl41 = /*[[${@environment.getProperty('flask.api.url')}]]*/"";

		console.log(flaskApiUrl41);

		var xhr41 = new XMLHttpRequest();
		xhr41.open('GET', flaskApiUrl41 + "/data41", true);


		xhr41.onreadystatechange = function () {
			if (xhr41.readyState === 4) {
				if (xhr41.status === 200) {
					try {
						var jsonData = JSON.parse(xhr41.responseText);
						console.log(jsonData);

						// Thymeleaf로 표시할 요소 선택
						var tableBody41 = document.getElementById("table_body41"); // 테이블의 tbody 요소를 가져옴
						// Thymeleaf로 표시할 내용 설정 (테이블 형식)
						var template = '';
						for (var i = 0; i < jsonData.length; i++) {
							var item = jsonData[i];
							console.log("중분류: " + item.중분류);
							console.log("비율: " + item.비율); // 이 부분은 데이터에 따라 이름이 다를 수 있습니다.

							var htmltd41 = "<tr><td style='text-align: center;'>" + item.중분류 + "</td> <td style='text-align: right;'>" + item.비율 + "</td> <td style='text-align: right;'>" +  "</td> </tr>";
							tableBody41.innerHTML += htmltd41;

						}



						google.charts.load('current', {'packages': ['corechart']});
						google.charts.setOnLoadCallback(drawChart41);


						function drawChart41() {

							var data = new google.visualization.DataTable();
							data.addColumn('string', '중분류');
							data.addColumn('number', '비율');


							for (var i = 0; i < jsonData.length; i++) {
								var item = jsonData[i];
								var row = [];
								row.push(item['중분류']);
								row.push(item['비율']);
								data.addRow(row);


							}

							var options = {
								title: '분류별 검색 비율 ',
								curveType: 'function',
								legend: {position: 'bottom'},
							};
							var chart = new google.visualization.PieChart(document.getElementById('chart_div41'));
							chart.draw(data, options);

							var view = new google.visualization.DataView(data);
							view.setColumns([0, 1, {
								calc: 'stringify',
								sourceColumn: 1,
								type: 'string',
								role: 'annotation'
							}]);
							chart.draw(view, options);

						}


						// Thymeleaf로 표시할 내용을 HTML로 설정
						//jsonDataContainer.innerHTML = template;

					} catch (e) {
						console.error('Error parsing JSON:', e);
					}
				} else {
					console.error('Request failed with status:', xhr41.status);
				}
			}
		};
		xhr41.send();











	</script>


	<script>
		// Collapse로 화면이 펼치기 전에 호출    
		$('.collapse').on('show.bs.collapse', function () {
			// icon을 + 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-plus-square");
			target.addClass("fa-minus-square");
		});
		// Collapse로 화면이 펼친 후에 호출    
		$('.collapse').on('shown.bs.collapse', function () {
			// icon을 + 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-plus-square");
			target.addClass("fa-minus-square");
		});
		// Collapse로 화면에 접기 전에 호출    
		$('.collapse').on('hide.bs.collapse', function () {
			// icon을 - 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-minus-square");
			target.addClass("fa-plus-square");
		});
		// Collapse로 화면에 접고 난 후에 호출    
		$('.collapse').on('hidden.bs.collapse', function () {
			// icon을 - 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-minus-square");
			target.addClass("fa-plus-square");
		});  </script>

	<script>
		// Collapse로 화면이 펼치기 전에 호출    
		$('.collapse1').on('show.bs.collapse1', function () {
			// icon을 + 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-plus-square");
			target.addClass("fa-minus-square");
		});
		// Collapse로 화면이 펼친 후에 호출    
		$('.collapse1').on('shown.bs.collapse1', function () {
			// icon을 + 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-plus-square1");
			target.addClass("fa-minus-square");
		});
		// Collapse로 화면에 접기 전에 호출    
		$('.collapse1').on('hide.bs.collapse1', function () {
			// icon을 - 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-minus-square");
			target.addClass("fa-plus-square");
		});
		// Collapse로 화면에 접고 난 후에 호출    
		$('.collapse1').on('hidden.bs.collapse1', function () {
			// icon을 - 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-minus-square");
			target.addClass("fa-plus-square");
		});  </script>

	<script>
		// Collapse로 화면이 펼치기 전에 호출    
		$('.collapse2').on('show.bs.collapse2', function () {
			// icon을 + 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-plus-square");
			target.addClass("fa-minus-square");
		});
		// Collapse로 화면이 펼친 후에 호출    
		$('.collapse2').on('shown.bs.collapse2', function () {
			// icon을 + 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-plus-square1");
			target.addClass("fa-minus-square");
		});
		// Collapse로 화면에 접기 전에 호출    
		$('.collapse2').on('hide.bs.collapse2', function () {
			// icon을 - 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-minus-square");
			target.addClass("fa-plus-square");
		});
		// Collapse로 화면에 접고 난 후에 호출    
		$('.collapse2').on('hidden.bs.collapse2', function () {
			// icon을 - 마크로 변경한다.      
			var target = $("[href='#" + $(this).prop("id") + "']");
			target.removeClass("fa-minus-square");
			target.addClass("fa-plus-square");
		});  </script>

</div>

</html>