<!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"> -->

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<!-- tour_detail -->

			<br><br>
	<div style="text-align: center;">
		<h1>
			<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.title}"></div>
		</h1>
	</div>
			<br><br>

	<div>
		<div style="text-align: center;">
			<img th:src="${tourDetailDTO.firstimage != null ? tourDetailDTO.firstimage : 'https://png.pngtree.com/png-clipart/20201225/ourlarge/pngtree-travel-map-hand-drawn-illustration-png-image_2618830.jpg'}"
				alt="Tour Image" class="tour-image"
				style="width: 615px; height: 410px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); border-radius: 15px;">
		</div>



		<br><br>
		<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.overview}"></div>
		<br>
		<table>
			<tr>
				<th>홈페이지</th>
				<td>
					<div class="card-text" style="white-space: pre-line;" th:utext="${tourDetailDTO.homepage}">홈페이지</div>
				</td>
			</tr>
			<tr>
				<th>					
					<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.telname}"></div>
				</th>
				<td>
					<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.tel}"></div>
				</td>
			</tr>
			<tr>
				
			<th>주소</th>
			<td>
				<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.addr1}"></div>
				<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.addr2}"></div>
			</tb></tr>
		</table>
		<br>
		
		<div style="text-align: center;">
		<div id="map" class="map-container" style="width:1000px;height:400px;  margin: 0 auto;"></div>
		</div>
<!--
		<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.mapx}"></div>
		<div class="card-text" style="white-space: pre-line;" th:text="${tourDetailDTO.mapy}"></div>
	-->	
		<div  style="width:100%;height:200px;" ></div>


		<script type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9f1f2c1b1007bd9757da7145b63c26e0"></script>
			
			<script type='text/javascript' th:inline="javascript">
			
			var mapxx =  /*[[${tourDetailDTO.mapx}]]*/ null;
			var mapyy = (/*[[${tourDetailDTO.mapy}]]*/ null);
			
			console.log(mapxx , mapyy);
			
			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(mapyy, mapxx),
				level: 3
			};

			var map = new kakao.maps.Map(container, options);

			//map.setCenter(new kakao.maps.LatLng(37.537183, 127.005454));

			map.setLevel(6, {anchor: new kakao.maps.LatLng(mapyy, mapxx)});

			map.setLevel(4, {animate: true});

			var markerPosition = new kakao.maps.LatLng(mapyy, mapxx);

			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
				position: markerPosition
			});

			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);


		</script>

	</div>
</div>
</html>