<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DateRangePicker with Modal-like Background</title>

	
</head>

<body>



		<div class="flex-container">
    <div class="left-div">왼쪽 내용</div>
    <div class="right-div">오른쪽 내용</div>
	</div>
		
	<style>
    .flex-container {
        display: flex;
    }

    .left-div, .right-div {
        flex: 1;
    }

    .left-div {
        background-color: lightblue;
    }

    .right-div {
        background-color: lightcoral;
    }
</style>

</body>

</html>